{% extends 'base.html.njk' %}
{% block body %}
    <div class="fossil-div">
      {{fossils.aust.name}}
      {% for k,v in fossils %}
      <h3>{{ v.name | string}}</h3>
      <h2>Liked {{ v.num_likes  | string}} times.</h2>
      <img src="{{ v.img  | string}}" />
      {% endfor %}
    </div>
{% endblock %}

