{% extends 'base.html.njk' %}
{% block body %}
<h1>Welcome {{name}} </h1>
    <div class="fossil-div">
      {% for k,v in fossils %}
      <h3>{{name}}, this is a {{ v.name | string}}</h3>
      <h2>Liked {{ v.num_likes  | string}} times.</h2>
      <img src="{{ v.img  | string}}" />
      {% endfor %}
    </div>
{% endblock %}

